
body{
    background-image: url(images/without\ head\ final.jpg);
    background-size:100%;

}
#head1{
    text-align: center;
    font-size: 50px;
}
#head{
    text-align: right;
    font-size: 50px;
    
}
   