#head{
    text-align: center;
font-size:100px;  
 /* background-color: blanchedalmond;  */
background-size: 120px;
}
#inf{
    float: right;
  font-size: 90px;
  /* background-color: cornsilk;*/
  background-size: 200px;
}
body{
    background-image: url(images/withhead\ final.jpg);
    background-size:100%;
}

#inf2{
    
    
    
   position:relative top:25%;

}
ui{
    float: right;
}
#form{
    padding-top: 160px;
    padding-left: 50px;
    font-size: 60px;
}
#in{
    font-size: 50px;
}
#inp{
    font-size: 40px;
}
#button{
    list-style-type: none;
    font-size: 50px;
    background-color: chartreuse;
    background-size: 100%;
    float: right;
    text-align: center;
    
    text-align: center;
    
   
    text-align: center;
}
#gen{
    text-align: right;
}
#lang{
    padding-left: 130px;
}
#allform{
    float: right;
}
#chose{
    float: right;
}





















































































